# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Environments
.env
.venv
env/
venv/
ENV/

# Docker
.docker/
docker-compose.override.yml

# IDEs
.vscode/
.idea/

# Terraform
.terraform/
*.tfstate
*.tfstate.backup

# Monitoring
monitoring/prometheus_data/
.DS_Store
